{% extends 'news/base.html' %}
{% block title %}{{ category_name }}{% endblock %}

{% block content %}
<h2>{{ category_name }}</h2>
<div class="row">
    {% for n in news_list %}
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    {% load static %}
                    <img src="{% static n.image %}">
                </div>
                <div class="card-content">
                    <span class="card-title">{{ n.title }}</span>
                </div>
                <div class="card-action">
                    <a href="{% url 'news_detail' n.id %}">Читать далее</a>
                </div>
            </div>
        </div>
    {% empty %}
        <p>Новости отсутствуют в этой категории.</p>
    {% endfor %}
</div>
{% endblock %}