{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Список фильмов</title>
</head>
<body>
<h1>Фильмы</h1>
<a href="{% url 'movie_create' %}">Добавить фильм</a>
<form method="get">
    <label>Сортировать по:</label>
    <select name="sort" onchange="this.form.submit()">
        <option value="release_date">Дата выхода</option>
        <option value="-rating">Рейтинг (по убыванию)</option>
        <option value="rating">Рейтинг (по возрастанию)</option>
    </select>
</form>

<ul>
    {% for movie in movies %}
    <li>
        <a href="{% url 'movie_detail' movie.pk %}">
            <img src="{{ movie.poster.url }}" alt="{{ movie.title }}" width="100">
            {{ movie.title }} ({{ movie.release_date }}) - Рейтинг: {{ movie.rating }}
        </a>
        <a href="{% url 'movie_update' movie.pk %}">Редактировать</a>
        <a href="{% url 'movie_delete' movie.pk %}">Удалить</a>
    </li>
    {% empty %}
    <li>Фильмов пока нет</li>
    {% endfor %}
</ul>
</body>
</html>